*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.Blockdsd{
  color: rgb(119, 69, 255);
  background-color: red;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
._container {
  width: 85%; /* дописал котя */
  max-width: 1280px;
  margin: 0px auto;
  box-sizing: content-box;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
}
/*----------------------------------индивидшрифт------individual-------*/
.individual{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Caveat;
    font-weight: 800;
    font-size: 24px;
  }
  .individual-image img{
    width: 70%;
  }
  @media (max-width: 430px){
    .individual-text{
        font-size: 16px;
      }
      .individual-image img {
        width: 60%;
      }
    }